@model IEnumerable<DeviceManager.Models.DeviceViewModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h2>Devices</h2>

<table>
<tr>
	<th>ID</th>
	<th>UserId</th>
	<th>Name</th>
	<th>Description</th>
	<th>DateAdded</th>
	<th>Details</th>
	<th>Edit</th>
	<th>Delete</th>w
</tr>

	@foreach(var item in Model!)
	{
		<tr>
			<td>@item.Id</td>
			<td>@item.UserId</td>
			<td>@item.Name</td>
			<td>@item.Description</td>
			<td>@item.DateAdded</td>
			<td>
				<a asp-controller="Devices"
				   asp-action="Details"
				   asp-route-id="@item.Id">details</a>
			</td>
			<td>
				<a asp-controller="Devices"
				   asp-action="Edit"
				   asp-route-id="@item.Id">Edit</a>
			</td>
			<td>
				<a asp-controller="Devices"
				   asp-action="Delete"
				   asp-route-id="@item.Id">Delete</a>
			</td>
		</tr>
	}
</table>
<a asp-controller="Devices"
   asp-action="Create"
   asp-route-id="@Model.FirstOrDefault().UserId">Create</a>
@{
}
